<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notificaciones</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<form action="#" th:action="@{/Predicciones/Consulta/Ubicacion}" th:object="${ubicacion}" method="post">
		<input type="text" th:field="*{latitud}" />
		<p th:if="${#fields.hasErrors('latitud')}" th:errors="*{latitud}">Latitud incorrecta</p>
		<input type="text" th:field="*{longitud}" />
		<p th:if="${#fields.hasErrors('longitud')}" th:errors="*{longitud}">Longitud incorrecta</p>
		<button type="submit">Consultar</button>
	</form>

	<div th:if="${prediccion != null}">
		<p th:text="${prediccion.icono}" />
		<p th:text="${prediccion.descripcion}" />
		<p th:text="${prediccion.temperatura}" />
	</div>
    
</body>
</html>